.btn {
    background: #bbecd1;
    margin: 5px;
}

.mr-auto {
    align-items: baseline
}

a {
    text-decoration: none;
}

h1 {
    text-shadow: #bbecd1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}